node_modules
.next
.git
.gitignore
.env
.env.local
.env.*.local
npm-debug.log
README.md
DEPLOY.md
Dockerfile
.dockerignore
apprunner.yaml
deploy
supabase-schema.sql
vercel.json
tsconfig.tsbuildinfo
*.log
